{% load crispy_forms_tags %}
<!DOCTYPE html>
{% load static %}
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Bootstrap -->
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
      <link href="{% static 'css/jquery-ui.css'%}" rel="stylesheet">
      <link href="{% static 'css/jquery-ui.theme.css'%}" rel="stylesheet">
      <link href="{% static 'timepick/bootstrap-datetimepicker.css'%}" rel="stylesheet">
      <link href="{% static 'css/select2.min.css'%}" rel="stylesheet">
      <link href="{% static 'css/bootstrap-fluid-adj.css'%}" rel="stylesheet">
 
      <title></title>
   </head>
   <body>
      <!--
         <header >
            <div class ="">
               <div class = "main-nav "  >
                  <div class = "container">
                     <div class = "row">
                        <ul class="nav nav-pills">
                           <li class="active"><a href="/taixiu2/"><i class = "glyphicon glyphicon-home"></i> Trang chủ</a></li>
                           <li class="dropdown">
                              {% if user.is_authenticated %}
                           <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Configuration Menu<span class="caret"></span></a>
                              <ul class="dropdown-menu" role="menu">
                                 <li><a href="/omckv2/modelmanager/UserProfileForm/{{ user.userprofile.id}}/" class="show-modal-form-link force_allow_edit">Config Ca</a></li>
                              </ul>
                           </li>
                           <li><a href="/logout/">Sign out</a></li>
                           {%else%}
                           <li><a href="/login/">Login</a></li>
                           {%endif%}
                           <li><a href="/import100phien/">import 100 phien</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               
            </div>
      </header>-->
      <section class="content" >
         {%block body_block%}
         {%endblock%}
      </section>
      <!--end .content-->
      </br></br></br></br></br></br></br>
      <div class="footer-copyright" style = "margin-top:300px;">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <p>&copy; 2015 | Copy right of {{last_OwnContact.webpage}}.</p>
               </div>
            </div>
         </div>
      </div>
      </footer>
      <script src="{% static 'js/jquery-2.1.4.js '%}"></script>
      <script src="{% static 'js/bootstrap.js' %}"></script>
      <script src="{% static 'js/jquery-ui.js' %}"></script>
      <script src="{% static 'timepick/moment-with-locales.js' %}"></script>
      <script src="{% static 'timepick/bootstrap-datetimepicker.js' %}"></script>
      <script src="{% static 'js/select2.min.js' %}"></script>
      <script src="{% static 'js/canvasjs.min.js' %}"></script>
      <script src="{% static 'js/highcharts.js' %}"></script>
      <script src="{% static 'js/exporting.js' %}"></script>
      <script src="{% static 'js/learndriving.js' %}"></script>
   </body>
</html>