{% extends 'drivingtest/base.html' %}
{% block title %}OMCKV2-Home page{% endblock %}
{% block body_block %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load index %}
<!-- Modal -->
<div class="modal fade" id="modal-on-mll-table" role="dialog"></div>
<div class="container-fluid">
   <div class="row">
      <div id="soicau-wrapper" class="form-table-wrapper col-sm-12 ">
         <p>last phien : <b id="last-phien" style="font-size:20px;color:green">{{last_phien}}</b></p>
         </p>Soi Phien : <b id="last-phien" style="font-size:20px;color:red">{{soi_phien}}</b></p>
         <div>{{string_soi_cau_html}}</div>
         <div class="form-manager col-sm-12" >
            {%if soicauForm %}
            {% crispy soicauForm %}
            {%endif%}
         </div>
      </div>

   </div>

   <div class="row">
      <H2 style="color:green;text-align:center">repeat_table</H2>
      <div>
         {% render_table repeat_table %}
      </div>
      <H2 style="color:red;text-align:center">xen_ke_table</H2>
      <div>
         {%if xen_ke_table %}
         {% render_table xen_ke_table %}
         {%endif%}
      </div>
      <H2 style="color:yellow;text-align:center">repeat_table_list_2_vs_above</H2>
      <div>
         {%if repeat_table_list_2_vs_above %}
         {% render_table repeat_table_list_2_vs_above %}
         {%endif%}
      </div>
   </div>


</div>
{% endblock %}
