{% extends 'drivingtest/base.html' %}
{% block title %}OMCKV2-Home page{% endblock %}
{% block body_block %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load index %}
<div class="container-fluid">
   <div class="row">
      <b> TX SOICAU </b>
      <div class="col-sm-12 ">
         last phien : <b style="font-size:20px;color:green">{{last_phien_so}}</b>
         </br>
         {{string_tai_xiu_soi_cau_100}}
         </br>
         <div class="row">
   <div id="import100phienForm-wrapper" class="form-table-wrapper col-sm-12 ">
      <b> Form </b>
      <div class="form-manager col-sm-12" >
         {% crispy importForm %}
      </div>
      <div class = "table-manager col-sm-6" class="col-sm-6">
      </div>
   </div>
</div>
         {% render_table thoi_gian_cho_su_lap_lai_Table %}
      </div>
   </div>
      
   <div class="row">
      </br></br>
      <b style="color:green"> REPEAT TABLE </b>
      </br></br>
      {% for taiXiuXiuTai_Table,repeat_table,x,y  in rp_tx_combines %}
      <div class="col-sm-6 {% cycle 'row1' 'row2' %}">
         </br></br></br>
         <b style = "color: #006600;font-size:24px">{{taiXiuXiuTai_Table.len}}</b></br>
         {% render_table taiXiuXiuTai_Table %}
      </br>
         {% render_table repeat_table %}
         
         <span style="color:#ff80df">Cho xen ke</span>
         {% render_table x %}
         {% render_table y %}
         <b style = "color: #006600;font-size:24px">{{taiXiuXiuTai_Table.len}}</b></br>
      </div>
      {%endfor%}
      </br>
   </div>
   <div class="row">
      <div class="col-sm-6 ">
         <b> Tong 3 Dice </b>
         {% render_table tong_3_table %}
      </div>
   </div>
</div>

<div class="row">
   <div id="taixiu-wrapper" class="form-table-wrapper col-sm-12 ">
      <b> Form </b>
      <div class="form-manager col-sm-6" >
         {% crispy taiXiuForm %}
      </div>
      <div class = "table-manager col-sm-6" class="col-sm-6">
         {% render_table taixiu_table "drivingtest/custom_table_template_mll.html" %}
      </div>
   </div>
</div>
{% endblock %}