bbcode==1.0.22
beautifulsoup4==4.4.1
dj-database-url==0.4.0
Django==1.8.3
django-crispy-forms==1.6.0
django-tables2==1.2.3
django-tables2-reports==0.0.10
gunicorn==19.4.5
html2bbcode==2.3.2
psycopg2==2.6.2
requests==2.10.0
six==1.10.0
whitenoise==2.0.6
